{% extends extends%}

{% block content %}
    <div class="glossary">
        {% block panelHeading %}
        <div class="panel-heading">
            <h1>
                <a {{ urlClass | raw }} href="{{ path('glossary-index') }}">{% trans %}Glossary{% endtrans %}</a>
            </h1>
        </div>
        {% endblock %}



        {% block panelContent %}
        <div class="panel-content">
            <h2>{% block headline %}{% endblock %}</h2>

            {% block glossaryContent %}{% endblock %}
        </div>
        {% endblock %}
        <p class="info">
            {% trans with {'%github%': '<a class="external" target="_blank" href="https://github.com/Runalyze/glossary/issues/new">Github</a>'}%}If you have further explanations, references or ideas for some definitions create an issue on %github% or write us an email.{% endtrans %}
            <br>
            {% trans with {'%translate%' : '<a class="external" target="_blank" href="https://translate.runalyze.com/projects/runalyze/glossary">translate.runalyze.com</a>'} %}This entry is not available in your language or you have improvement suggestions? Help us translating those definitions at %translate%.{% endtrans %}
        </p>
    </div>
{% endblock %}
