{% extends "GlossaryBundle::_base.html.twig" %}

{% block headline %}
    {% trans %}Actual Training Load{% endtrans %} (ATL)
{% endblock %}

{% block glossaryContent %}
    <p class="text">
        {% trans %}...{% endtrans %}
    </p>
{% endblock %}
