{% extends "GlossaryBundle::_base.html.twig" %}

{% block headline %}
    {% trans %}Heart rate variability{% endtrans %} (HRV)
{% endblock %}

{% block glossaryContent %}
    <p class="text">
        {% trans %}...{% endtrans %}
    </p>
{% endblock %}
