{% extends "GlossaryBundle::_base.html.twig" %}

{% block headline %}
    {% trans %}Monotony{% endtrans %}
{% endblock %}

{% block glossaryContent %}
    <p class="text">
        {% trans %}...{% endtrans %}
    </p>
{% endblock %}
