{% extends "GlossaryBundle::_base.html.twig" %}

{% block headline %}
    {% trans %}Rate of Perceived Exertion{% endtrans %} (RPE)
{% endblock %}

{% block glossaryContent %}
    <p class="text">
        {% trans %}...{% endtrans %}
    </p>
{% endblock %}
