{% extends "GlossaryBundle::_base.html.twig" %}

{% block headline %}
    {% trans %}Training Impulse{% endtrans %} (TRIMP)
{% endblock %}

{% block glossaryContent %}
    <p class="text">
        {% trans %}...{% endtrans %}
    </p>

    {{ ref.referencesHead() }}
    {{ ref.singleReferenceLink("http://fellrnr.com/wiki/TRIMP", "Fellrnr.com - TRIMP") }}
    {{ ref.referencesFoot() }}
{% endblock %}
