{% extends "GlossaryBundle::_base.html.twig" %}

{% block headline %}
    VO<sub>2</sub>max
{% endblock %}

{% block glossaryContent %}
    <p class="text">
        {% trans %}...{% endtrans %}
    </p>
{% endblock %}
